{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Buy stock</th>
                    <th>Sell stock</th>
                </tr>
            </thead>
            <tbody>
                {% for holding in portfolio %}
                    <tr>
                        <td class="symbol">{{ holding.symbol }}</td>
                        <td>{{ holding.company }}</td>
                        <td>{{ holding.shares }}</td>
                        <td>{{ holding.price | usd }}</td>
                        <td>{{ (holding.shares * holding.price) | usd }}</td>
                        <td><button class="btn btn-success" type="button" onclick="indexBuy('{{holding.symbol}}')">Buy</button></td>
                        <td><button class="btn btn-danger" type="button" onclick="indexSell('{{holding.symbol}}')">Sell</button></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>CASH</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td>{{ current_cash | usd }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <b class="value">{{ total_value | usd }}</b>
    </div>
{% endblock %}